<!DOCTYPE html>
<html>
  <head>
    <title>balance.js Test Cases</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <ul class="test-case-selector">
        <li v-for="(caseObject, caseName) in cases"
            :class="{ bold: caseName === selectedCaseName }"
            v-on:click="setCase(caseName)">
          {{caseName}}
        </li>
      </ul>
      <label>
        Width <input type="range" ref="widthInput" min="0" max="800" v-model="canvasWidth" />
      </label>
      <label>
        Height <input type="range" ref="heightInput" min="0" max="800" v-model="canvasHeight" />
      </label>
      <canvas ref="canvas" :width="canvasWidth" :height="canvasHeight"></canvas>
    </div>
    <script src="./bundle.js"></script>
  </body>
</html>
